@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 95%;
    --foreground: 225 9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 225 9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 9% 10%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 91%;
    --secondary-foreground: 225 9% 10%;
    --muted: 220 14% 96%;
    --muted-foreground: 225 9% 45%;
    --accent: 220 14% 96%;
    --accent-foreground: 225 9% 10%;
    --destructive: 14 100% 57%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 14 100% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 226 50% 12%;
    --sidebar-foreground: 220 14% 75%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 44% 22%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 228 44% 18%;
    --sidebar-ring: 231 48% 48%;
  }

  .dark {
    --background: 225 9% 10%;
    --foreground: 220 14% 75%;
    --card: 226 50% 12%;
    --card-foreground: 220 14% 75%;
    --popover: 226 50% 12%;
    --popover-foreground: 220 14% 75%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 44% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 228 44% 18%;
    --muted-foreground: 220 14% 65%;
    --accent: 228 44% 22%;
    --accent-foreground: 0 0% 100%;
    --destructive: 14 100% 57%;
    --destructive-foreground: 0 0% 100%;
    --border: 228 44% 18%;
    --input: 228 44% 18%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 14 100% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 225 9% 10%;
    --sidebar-foreground: 220 14% 75%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 228 44% 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 228 44% 18%;
    --sidebar-ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}